rules_version = '2';
service firebase.storage {
  match /b/thoc-cookbook.appspot.com/o {

    function isSignedIn() {
      return request.auth != null && request.auth.uid != null;
    }

    match /images/{recipeId}/{image} {
      allow get, write: if isSignedIn();
    }
  }
}
