@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  @font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/Outfit-VariableFont_wght.ttf');
  }
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 350 25% 15%;
    --card: 0 0% 100%;
    --card-foreground: 350 25% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 350 25% 15%;
    --primary: 350 40% 70%; /* Antique pink */
    --primary-foreground: 350 25% 15%;
    --secondary: 350 30% 90%;
    --secondary-foreground: 350 25% 15%;
    --muted: 350 30% 90%;
    --muted-foreground: 350 25% 50%;
    --accent: 350 30% 90%;
    --accent-foreground: 350 25% 15%;
    --destructive: 0 72.22% 50.59%; /* Red */
    --destructive-foreground: 350 30% 90%;
    --border: 350 25% 85%;
    --input: 350 25% 85%;
    --ring: 350 40% 70%; /* Antique pink */
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 100%;
    --card: 0 0% 0%; /* Black */
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%; /* Black */
    --popover-foreground: 0 0% 100%;
    --primary: 350 40% 70%; /* Antique pink */
    --primary-foreground: 0 0% 100%;
    --secondary: 350 30% 80%;
    --secondary-foreground: 0 0% 100%;
    --muted: 350 30% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 350 30% 80%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72.22% 50.59%; /* Red */
    --destructive-foreground: 350 30% 80%;
    --border: 350 25% 85%;
    --input: 350 25% 85%;
    --ring: 350 40% 70%; /* Antique pink */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  h5 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight;
  }
  h6 {
    @apply scroll-m-20 text-base font-semibold;
  }
  p {
    @apply leading-7 not-first:mt-6;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
}